<h1 style="text-align: center; padding-top: 50px"><% if (message.length > 50) { %>Internal Server Error<% } else { %><%= message %><% } %> <i class="fa-regular fa-face-sad-tear"></i></h1>
<h2 style="text-align: center; font-size: 20px"><a href="/" class="link">Take me back to safety!</a></h2>
