<h2 style="text-align: left; color: #818181; font-size: 18px; line-height: 175%; padding-top: 10px">Welcome to Helen Williamson's enchanting tales for children of all ages. If you love dinosaurs who wear polka dot slippers, if you have pineapple dreams, higgledy-piggledy thoughts or like to escape into fairy tales, you'll love Helen's whimsical world. There's no other quite like it!<br /><br /></h2>
<div style="margin: 15px -15px">
    <table>
        <tbody>
            <tr>
                <td style="width: 20%" valign="top">
                    <img src="/images/helen-l-williamson.png" alt="Helen L. Williamson" style="width: 280px; max-width: 100%; float: left; padding-top: 5px; padding-bottom: 15px" />
                </td>
                <td style="width: 80%; padding: 0 25px">
                    <div style="text-align: left">Helen was born in Holywood, County Down in Northern Ireland. In the Irish tradition, books and the telling of tales have enchanted her since she was a child, and writing and telling her own stories is just a projection of this love.<br /><br />She received a BA and MA from Trinity College in Dublin, and now lives in the United States with her husband.<br /><br />Helen continues to generate stories that delight readers with her amusing and playful perspective on the world. She is the author of <em>Tales from Balladhoon</em>, <em>A Pineapple Dream and other Nonsense</em>, <em>Higgledy-Piggledy Thoughts</em>, <em>I Just Met A Dinosaur!</em>, <em>Adventures In Dinglewood</em>, and her newest book, <em>Tales from Balladhoon</em> (2).<br /><br /><strong>Come join the fun and explore!</strong><br /><br /></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h2>
    <strong>Check out the updated </strong><a href="/books#tales-from-balladhoon-2" class="link"><em>Tales from Balladhoon</em></a><strong>, with new illustrations and stories!</strong>
</h2>
<div style="margin: 15px -15px">
    <table>
        <tbody>
            <tr>
                <td style="width: 40%" valign="top">
                    <img class="popup-image" src="/images/books/tales-from-balladhoon-2.png" alt="Tales from Balladhoon Cover" style="width: 350px; max-width: 100%; float: right; padding-top: 5px; padding-bottom: 10px" />
                </td>
                <td style="width: 60%; padding: 0 25px; color: #2a2a2a">
                    The
                    <a href="/books#tales-from-balladhoon" class="link"><em>original Tales from Balladhoon</em></a>, reimagined with new illustrations, and two more original stories!
                    <hr />
                    Join Johnny McGlory and his friends on a delightful journey through the Irish countryside, where fairies and leprechauns are as real as the donkey that walks under the sea and the magician who summons butterflies.
                    <br /><br />
                    These original Irish tales by Irish native Helen L. Williamson, are a delightful glimpse into the world of imagination and an introduction to the time honored craft of Irish storytelling. These books are sure to capture the hearts of both young and old.
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h2>
    <a href="/books#adventures-in-dinglewood" class="link"><em>Adventures In Dinglewood</em></a>
    <strong>is available now in paperback and hardcover!</strong>
</h2>
<div style="margin: 0 -15px">
    <table>
        <tbody>
            <tr>
                <td style="width: 50%" valign="top">
                    <img class="popup-image" src="/images/books/adventures-in-dinglewood.png" alt="Adventures In Dinglewood Cover" style="width: 500px; max-width: 100%; float: right; padding-top: 5px; padding-bottom: 10px" />
                </td>
                <td style="width: 50%; padding: 0 25px; color: #2a2a2a">
                    If you are in a hurry, you might pass by Dinglewood without paying much attention. But if you listen carefully, you just might hear the pitter-patter of small feet and the chattering of tiny voices. Turn the page— There's a world of adventure here in Dinglewood for you to discover!
                    <hr />
                    “. . . Adventures in Dinglewood is sure to take its place alongside many long-loved children's books as a delightful modern classic.”<br /><em>— Kai Rady, Toy and Book Buyer, Shenanigans (est. 1974), Charlottesville, VA, USA</em><br />
                    <div style="height: 10px; overflow: hidden; width: 100%"></div>
                    <hr />
                    <div style="height: 10px; overflow: hidden; width: 100%"></div>
                    “Helen Williamson and Nancy Atkins charm young readers with the magical adventures of Henrietta and Jasper as they encounter Dinglewood's many zany woodland creatures. . . Adventures in Dinglewood would be a wonderful addition to any child's bookshelf.”<br /><em>— Anna Burger, author of Pea Soup and the Seafood Feast and The Sea Hunt</em>
                </td>
            </tr>
        </tbody>
    </table>
</div>
