<h2>About Us</h2>
<div class="grid" style="--grid-columns: 1fr 4fr">
    <img src="/images/helen-l-williamson.jpg" alt="Helen L. Williamson" />
    <div>
        <h3>Helen Williamson, Author</h3>
        <p>
            {{#markdown}}
                Helen Lorrain Williamson was born in Holywood, Northern Ireland. She received her B.A. and M.A. from Trinity College in Dublin, Ireland. For many years she taught creative writing in
                Charlottesville, Virginia, where she lives with her husband. She is the author of *Tales from Balladhoon*, *A Pineapple Dream and Other Nonsense*, *Higgledy-Piggledy Thoughts*, *I Just
                Met A Dinosaur!*, *Adventures In Dinglewood*, and *Tales from Balladhoon* (2).
            {{/markdown}}
        </p>
        <p>
            You can find her online on
            <a href="https://www.facebook.com/Helen-L-Williamson-817953028336023" target="_blank">Facebook</a>, and there is more information about Helen on
            <a href="https://www.goodreads.com/author/show/8246911" target="_blank">Goodreads</a>
            and
            <a href="http://www.belleislebooks.com/helenlwilliamson.html" target="_blank">Belle Isle Books</a>.
        </p>
    </div>
</div>

<div class="grid" style="--grid-columns: 1fr 4fr">
    <img src="/images/nancy-taylor-atkins.jpg" alt="Nancy Taylor Atkins" />
    <div>
        <h3>Nancy Taylor Atkins, Illustrator</h3>
        <p>
            {{#markdown}}
                Nancy Taylor Atkins lives in Williamsburg, Virginia with her family. After graduating from Furman University, she worked in an experiential outdoor program for at-risk youth. In
                addition to owning a local nutritional store, Nancy enjoys creating with clay, paint, and mixed media. She has participated in art shows and has been commissioned to make tiled
                installations. She is the illustrator of *A Pineapple Dream and Other Nonsense*, *Higgledy-Piggledy Thoughts*, *I Just Met A Dinosaur!*, *Adventures In Dinglewood*, and *Tales from
                Balladhoon* (2).
            {{/markdown}}
        </p>
    </div>
</div>

<h2>Contact</h2>
<div id="form-container">
    <noscript>
        <div id="noscript-overlay">
            <p>This form requires JavaScript to function properly! Please enable it and reload!</p>
        </div>
    </noscript>
    <form method="post" action="/contact/submit" id="contact-form" class="row g-3 needs-validation" novalidate>
        <div>
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" style="width: 50%" id="name" autocomplete="name" required />
            <div class="invalid-feedback">Please include your name!</div>
        </div>
        <div>
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" style="width: 50%" id="email" autocomplete="email" required />
            <div class="invalid-feedback">Invalid email!</div>
        </div>
        <div>
            <label for="message" class="form-label">Message</label>
            <textarea type="text" class="form-control" id="message" rows="6" required></textarea>
            <div class="invalid-feedback">Please add a message!</div>
        </div>
        <div>
            <div
                class="g-recaptcha"
                data-callback="recaptchaCompleted"
                data-expired-callback="recaptchaError"
                data-error-callback="recaptchaError"
                data-sitekey="6LcEIsgdAAAAAKsmlmaoN1znHBjYrpKqPV5Wl01L"
                id="recaptcha"
            ></div>
            <input class="form-control d-none" id="recaptcha-message" required />
            <div class="invalid-feedback">Please complete the reCAPTCHA!</div>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Submit form <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" id="submit-spinner"></span></button>
        </div>
    </form>
</div>

<div class="grid" style="margin-top: 50px">
    <div>
        <b>For more information or to arrange an interview with the author, email</b>
        brandylanepr@gmail.com
        <b>or call</b>
        804-644-3090<b>.</b>
    </div>
    <a href="http://www.belleislebooks.com" target="_blank">
        <img src="/images/logos/belle-isle.png" alt="Picture" />
    </a>
</div>
