<h2 style="text-align: left; padding-bottom: 10px">About Us</h2>
<table>
    <tbody>
        <tr>
            <td style="width: 30%" valign="top">
                <img src="/images/helen-l-williamson.png" alt="Helen L. Williamson" style="width: 180px; max-width: 100%; float: left; padding-top: 5px; padding-bottom: 15px" />
            </td>
            <td style="width: 70%; padding: 6px 12px" valign="top">
                <div class="paragraph" style="text-align: left; color: #2a2a2a">
                    <strong style="font-size: 20px">Helen Williamson, Author</strong><br /><br />Helen Lorrain Williamson was born in Holywood, Northern Ireland. She received her B.A. and M.A. from Trinity College in Dublin, Ireland. For many years she taught creative writing in Charlottesville, Virginia, where she lives with her husband. She is the author of
                    <em>Tales from Balladhoon</em>,
                    <em>A Pineapple Dream and Other Nonsense</em>,
                    <em>Higgledy-Piggledy Thoughts</em>,
                    <em>I Just Met A Dinosaur!</em>,
                    <em>Adventures In Dinglewood</em>, and
                    <em>Tales from Balladhoon</em>
                    (2).<br /><br />You can find her online on
                    <a class="link" href="https://www.facebook.com/Helen-L-Williamson-817953028336023" target="_blank">Facebook</a>, and there is more information about Helen on
                    <a class="link" href="https://www.goodreads.com/author/show/8246911.Helen_L_Williamson" target="_blank">Goodreads</a>
                    and
                    <a class="link" href="http://www.belleislebooks.com/helenlwilliamson.html" target="_blank">Belle Isle Books</a>.
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table style="padding-top: 20px">
    <tbody>
        <tr>
            <td style="width: 30%" valign="top">
                <img src="/images/nancy-taylor-atkins.png" alt="Nancy Taylor Atkins" style="width: 150px; max-width: 100%; float: left; padding-top: 5px; padding-bottom: 15px" />
            </td>
            <td style="width: 70%; padding: 6px 12px" valign="top">
                <div class="paragraph" style="text-align: left; color: #2a2a2a"><strong style="font-size: 20px">Nancy Taylor Atkins, Illustrator</strong><br /><br />Nancy Taylor Atkins lives in Williamsburg, Virginia with her family. After graduating from Furman University, she worked in an experiential outdoor program for at-risk youth. In addition to owning a local nutritional store, Nancy enjoys creating with clay, paint, and mixed media. She has participated in art shows and has been commissioned to make tiled installations. She is the illustrator of <em>A Pineapple Dream and Other Nonsense</em>, <em>Higgledy-Piggledy Thoughts</em>, <em>I Just Met A Dinosaur!</em>, <em>Adventures In Dinglewood</em>, and <em>Tales from Balladhoon</em> (2).</div>
            </td>
        </tr>
    </tbody>
</table>
<h2 style="text-align: left; padding-top: 30px; padding-bottom: 10px">Contact</h2>
<div id="form-container">
    <noscript>
        <div id="overlay">
            <span class="noscript-message">This form requires JavaScript to function properly! Please enable it and reload!</span>
        </div>
    </noscript>
    <form method="post" action="/contact/submit" id="contact-form" class="row g-3 needs-validation" novalidate>
        <div>
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" style="width: 50%" id="name" required />
            <div class="invalid-feedback">Please include your name!</div>
        </div>
        <div>
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" style="width: 50%" id="email" pattern="^[a-z0-9._%+!$&*=^|~#%'`?{}/-]+@([a-z0-9-]+\.){1,}([a-z]{2,16})$" required />
            <div class="invalid-feedback">Invalid email!</div>
        </div>
        <div>
            <label for="message" class="form-label">Message</label>
            <textarea type="text" class="form-control" id="message" required></textarea>
            <div class="invalid-feedback">Please add a message!</div>
        </div>
        <div>
            <div class="g-recaptcha" data-callback="recaptchaCompleted" data-expired-callback="recaptchaError" data-error-callback="recaptchaError" data-sitekey="6LcEIsgdAAAAAKsmlmaoN1znHBjYrpKqPV5Wl01L" id="recaptcha"></div>
            <input class="form-control d-none" id="recaptcha-message" required />
            <div class="invalid-feedback">Please complete the reCAPTCHA!</div>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Submit form <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" id="submit-spinner"></span></button>
        </div>
    </form>
</div>
<table style="margin-top: 40px">
    <tbody>
        <tr>
            <td style="width: 50%" valign="top">
                <div class="paragraph" style="text-align: left">
                    <strong>For more information or to arrange an interview with the author, email </strong>brandylanepr@gmail.com<strong>or call</strong>804-644-3090<strong>.</strong>
                </div>
            </td>
            <td style="width: 50%; padding: 6px 12px" valign="top">
                <a href="http://www.belleislebooks.com" target="_blank">
                    <img src="/images/logos/belle-isle.png" alt="Picture" style="width: auto; max-width: 100%" />
                </a>
            </td>
        </tr>
    </tbody>
</table>
