@import url("https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css");
@import url("./font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic,700italic&subset=latin,latin-ext&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quattrocento:400,700&subset=latin,latin-ext&display=swap");

:root {
    --bs-body-bg: #fffeed;
    --font-family-sans: "Quattrocento Sans", sans-serif;
    --font-family-regular: "Quattrocento", serif;
}

/* General */

html {
    background-color: #fffeed;
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #3e3e3e;
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    font-family: var(--font-family-sans);
}

a {
    color: #007bff;
    text-decoration: none;

    &:hover {
        color: #0957b3;
    }
}

nav a {
    color: #b9b9b9;

    &.active {
        color: #333;
    }

    &:hover {
        color: #3e3e3e;
    }
}

h2 {
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2em;
    font-family: var(--font-family-regular);
}

div.paragraph {
    margin-bottom: 10px;
    line-height: 1.5em;
}

.container {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 85%;
    max-width: 960px;
}

hr {
    border: 1px solid currentcolor;
    border-radius: 3px;
    width: 75%;
    height: 0;
    color: dimgray;
}

@media (width <= 600px) {
    #recaptcha {
        transform: scale(0.8);
        transform-origin: 0 0;
    }

    tr,
    td {
        display: inline-block;
        margin: 0 auto !important;
        padding: 3% !important;
        min-width: 90%;
    }
}

#form-container {
    position: relative;
    width: 500px;
    height: auto;
}

#overlay {
    display: block;
    position: absolute;
    transform: translate(-10px, -10px);
    z-index: 9999;
    background-color: rgb(0 0 0 / 50%);
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
}

#overlay .noscript-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f55;
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
}

.book-cover {
    float: right;
    padding-top: 5px;
    padding-bottom: 15px;
    width: 350px;
    max-width: 100%;
}

[data-bs-toggle="tooltip"] {
    cursor: pointer;
    text-decoration: underline dotted;
}

.tooltip-inner {
    font-family: var(--font-family-sans);
}

/* Navigation Bar/Header */

.logo {
    display: block;
    padding: 30px 0 15px;
    color: black;
    font-weight: 700;
    font-size: 40px;
    line-height: normal;
    font-family: var(--font-family-sans);
    letter-spacing: 0.04em;
    text-align: center;

    @media (width <= 700px) {
        font-size: 25px;
    }
}

nav {
    text-align: center;
}

nav ul {
    display: inline-block;
    vertical-align: top;
    padding-inline-start: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    transition: color 300ms linear;
    padding: 0 15px;
    color: #b9b9b9;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: var(--font-family-sans);
    letter-spacing: 0.07em;
    text-transform: uppercase;

    @media (width <= 700px) {
        font-size: 14px;
    }

    &:hover {
        color: #333;
    }
}

nav ul li#active a {
    color: #333;
}

.banner-wrap {
    position: relative;
    margin: 20px auto 0;
    width: 100%;
    max-width: 1115px;
}

.header-image {
    display: block;
    margin: 25px auto;
    border: 25px solid rgb(0 0 0 / 18%);
    width: 75%;

    @media (width <= 700px) {
        margin: 15px auto;
        border: 10px solid rgb(0 0 0 / 18%);
        width: 85%;
    }
}

.book-table {
    padding-top: 35px;

    & td:first-of-type {
        vertical-align: top;
        width: 40%;
    }

    & td:last-of-type {
        vertical-align: top;
        padding: 6px 25px;
        width: 60%;
    }

    & div.paragraph {
        color: #2a2a2a;
        font-size: 18px;
        text-align: left;

        & strong a {
            display: block;
            padding-bottom: 20px;
            font-size: 22px;
        }
    }

    & strong:first-of-type ~ div {
        display: block;
        padding-top: 20px;
    }

    & + div {
        display: block;
        padding: 20px 0;
        width: 100%;
        text-align: right;

        @media (width <= 700px) {
            padding: 0;
        }

        & img {
            padding: 20px;
            max-width: 100%;
            height: 25px;

            @media (width <= 700px) {
                padding: 12px;
            }
        }
    }
}

/* Image Popup */

.popup-image {
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(0 0 0 / 90%);
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#modal-image {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 700px;

    @media (width <= 700px) {
        width: 90%;
    }
}

#modal-caption {
    display: block;
    margin: auto;
    padding: 10px 0;
    width: 80%;
    max-width: 700px;
    height: 150px;
    color: #ccc;
    text-align: center;
}

#modal-image,
#modal-caption {
    animation-duration: 0.6s;
    animation-name: zoom;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

#close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    transition: 0.3s;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 40px;

    &:hover,
    &:focus {
        cursor: pointer;
        color: #bbb;
        text-decoration: none;
    }
}

.form-control,
.form-control:focus {
    background-color: white;
}
